<header class="header">
  <nav>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="/" class="<%= path === '/' ? 'active-header' : '' %>">User</a>
      </li>
      <li class="header-list-item">
        <a href="/task" class="<%= path === '/task' ? 'active-header' : '' %>" >Task</a>
      </li>
      <li class="header-list-item">
        <a href="/admin/edit-user" class="<%= path === '/admin/edit-user' ? 'active-header' : '' %>" >Admin Edit User</a>
      </li>
      <li class="header-list-item">
        <a href="/admin/user-list" class="<%= path === '/admin/user-list' ? 'active-header' : '' %>" >Admin User List</a>
      </li>
      <li class="header-list-item">
        <a href="/admin/add-user" class="<%= path === '/admin/add-user' ? 'active-header' : '' %>" >Admin Add User</a>
      </li>
    </ul>
  </nav>
</header>
