<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/user.css" />
<title><%= docTitle %></title>
</head>

<body>
  <%- include('../includes/navigation') %>
  <main>
    <section>
      <div class="user-list">
        <% if(tasks.length > 0) {%>
          <h1>List of tasks...</h1>
        <% tasks.forEach(item => { %>
          <li>Task ID: <%= item.id %></li>
        <% }) %> 
        <% } %> <% if(tasks.length === 0) {%>
          <h1>No Tasks available</h1>
        <% } %>
      </div>
    </section>
  </main>
  <%- include('../includes/end')%>