<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/user.css" />
<title><%= docTitle %></title>
</head>

<body>
  <%- include('../includes/navigation') %>
  <main>
    <section>
      <div class="work-order-list">
        <h1>Work Orders</h1>
        <% if (workOrders?.length > 0) { %>
          <ul>
            <% workOrders?.forEach(workOrder => {%>
              <li>
                <div>Work Order User: <%= workOrder.userName %></div>
                <div>Work Order Name: <%= workOrder.workOrderName %></div>
                <div>Work Order Dispatch Count: <%= workOrder.workOrderDispatchCount %></div>
                <div>
                  <form action="/delete/work-order" method="POST">
                    <input type="hidden" name="work_order_user_id" value="<%= workOrder.userId %>"/>
                    <input type="hidden" name="work_order_lookup_id" value="<%= workOrder.workorderlookupId %>"/>
                    <button type="submit">Delete Work Order</button>
                  </form>
                </div>
                <div>
                  <% if (workOrder?.availableTasks?.length > 0) { %>
                    <p>Available Tasks</p>
                    <ul>
                      <% workOrder?.availableTasks?.forEach(task => { %>
                        <li>Task ID: <%= task.id %></li>
                        <div>
                          <form action="/task/add" method="POST">
                            <input type="hidden" name="task_id" value="<%= task.id %>"/>
                            <input type="hidden" name="work_order_user_id" value="<%= workOrder.userId %>"/>
                            <input type="hidden" name="work_order_lookup_id" value="<%= workOrder.workorderlookupId %>"/>
                            <input type="hidden" name="work_order_dispatch_count" value="<%= workOrder.workOrderDispatchCount %>"/>
                            <button type="submit">Add To Task</button>
                          </form>
                        </div>
                      <% }) %>
                    </ul>
                  <% } %>
                    <p>Create a new Task from this work order.</p>
                    <div>
                      <form action="/task/add" method="POST">
                        <input type="hidden" name="task_id" value=""/>
                        <input type="hidden" name="work_order_user_id" value="<%= workOrder.userId %>"/>
                        <input type="hidden" name="work_order_lookup_id" value="<%= workOrder.workorderlookupId %>"/>
                        <input type="hidden" name="work_order_dispatch_count" value="<%= workOrder.workOrderDispatchCount %>"/>
                        <button type="submit">Add a new task</button>
                      </form>
                    </div>
                </div>
              </li>
            <% }) %>
          </ul>
        <% } else { %>
          <h4>No Work Order Available...</h4>
        <% } %>
      </div>
    </section>
  </main>
  <%- include('../includes/end')%>